<!DOCTYPE html>
<html>
<head>
    <title>NextGenBTS</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div id="message-container" class="message"></div>
    <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
        <button type="submit" class="logout-button">Logout</button>
    </form>

    <div class="add-section">
        <h2>Add new BTS to NextGenBTS</h2>
        <form id="add-form" class="add-form">
            <div class="form-group">
                <label for="name-input">Node ID:</label>
                <input type="text" id="name-input" name="name" required>
            </div>
            <div class="form-group">
                <label for="ip-input">IP:</label>
                <input type="text" id="ip-input" name="ip" required>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>
    </div>

    <table class="fancy-table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Node ID</th>
                <th>IP</th>
                <th>Connectivity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.connectivity }}</td>
                <td><button class="remove-button" data-id="{{ item._id }}">Remove</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>